@charset "utf-8";

/*CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoMono-Regular.ttf") format("truetype");
    src: url("fonts/RobotoMono-Thin.ttf") format("truetype");
    src: url("fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #863636;
    margin: 0px auto;
    font-family: "Roboto", "San-Serif";
    color: #ffffff;
}

.botonera {
    background-color: #BDFF00;
    padding: 30px 10px; /*hay un scroll horizontal: ahora lo que está seteado es que la caja tenga un tamaño del 100% (en mi pc son 1920px) + los paddings que darían 20px, o sea que el ancho total va a ser de 1940px, lo que excede el tamaño de mi pantalla. Para arreglar eso, tenés que aplicar la propiedad de box-sizing: border-box; para que calcule el 100% con los paddings, o sea que va a ser 1920px menos 20px así da el tamaño que debería tener*/
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.botonera a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}

.botonera a:hover {
    color: #ffffff;
    background-color: #000000;
    padding: 40px;
}

.contenedor-dos-titulos {
    display: flex;
}

.titulo-principal1 {
    padding: 200px 190px; /*como regla general, si lo que necesitás hacer tiene paddings de más de 100px es porque hay otra forma de resolverlo mucho más prolija porque estos paddings te van a jugar en contra cuando hagamos responsive. se me ocurre que podrías usar altura con medidas vh, que significa viewport height, o sea la altura del dispositivo, y funciona como los porcentajes. Por ejemplo, si quisiese tener una altura del total de una pantalla utilizaría 100vh, en mi monitor que es de 1080 va a ser de ese tamaño, en otro de 720 va a pasar lo mismo, pero siempre va a ser flexible respecto a eso*/
    background-color: #000000;
    font-family: "Roboto", "San-Serif";
    font-style: normal;
    font-size: 7em;
}

.subtitulo-principal {
    padding: 0px 20% 100px 20px;
    background-color: #BDFF00;
    font-family: "Roboto", "San-Serif";
    font-style: italic;
    font-size: 1.2em;
    color: #000000;
    display: flex;
    align-items: flex-end;
}
